.left-bar {
  background-color: #ffffff;
  width: 80px;
  transition: width 0.3s ease;
  margin: 10px 0 10px 10px;
  padding: 20px 10px;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.left-bar.expanded {
  width: 210px;
  align-items: flex-start;
}

.history-panel {
  margin-top: 56px;
  width: 100%;
  color: #000;
}

.history-panel h4 {
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 60px;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
}

.history-panel ul {
  list-style: none;
  padding: 0;
  margin: 0;
  max-height: 800px;
  overflow-y: auto;
}

.history-panel li {
  margin-bottom: 6px;
  font-size: 14px;
  padding: 8px 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease, color 0.2s ease;
  color: #333;
}

.history-panel li:hover {
  background-color: #f0f0f0;
}

.messagecircle {
  color: white;
  height: 24px;
  width: 24px;
}

.history-panel li.selected {
  background-color: #e0e0ff;
  font-weight: 500;
  border-left: 4px solid #007BFF;
  color: #007BFF;
}

.square-buttons {
  display: flex;
  position: absolute;
  top: 85px;
  left: 20px;
  flex-direction: column;
  gap: 12px;
}

.square-buttons button {
  background-color: transparent;
  border: none;
  color: #b6b6b6;
  cursor: pointer;
  padding: 10px;
  border-radius: 8px;
  transition: all 0.3s ease;
}

.square-buttons button:hover {
  color: rgb(0, 0, 0);
  transform: translateY(-1px);
}

.history {
  color: #007BFF;
}

@media (max-width: 768px) {
  .left-bar {
    width: 60px;
  }

  .left-bar.expanded {
    width: 180px;
  }

  .square-buttons {
    top: 80px;
    left: 10px;
    gap: 12px;
  }

  .messagecircle {
    color: white;
    height: 18px;
    width: 18px;
  }

  .circle-button {
    width: 35px;
    top: 15px;
    left: 13px;
    height: 35px;
  }

  .history-panel h4 {
    margin-top: 5px;
    margin-bottom: 15px;
    margin-left: 45px;
    font-size: 16px;
    font-weight: 600;
    color: #000000;
  }

  .history-panel li {
    white-space: nowrap;
    font-size: 12px;
    padding: 8px 5px;
  }
}