.right-bar {
  display: flex;
  margin: 0px 0px 0px 10px;
  flex-direction: column;
  gap: 10px;
  width: 280px;
}

.info-box {
  flex: 1;
  background-color: #ffffff;
  padding: 12px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  max-height: calc(100vh - 150px);
  scroll-behavior: smooth;
}

.info-header {
  border-bottom: 2px solid #000;
  margin-bottom: 12px;
  padding-bottom: 5px;
}

.info-title {
  font-size: 18px;
  font-family: 'Inter', sans-serif;
  font-weight: 800;
  color: #000;
  text-transform: uppercase;
}

.info-title strong {
  color: #0044ff; 
}

.task-list {
  list-style-type: none;
  padding-left: 0px;
  margin: 0;
}

.task-item {
  background-color: #f2f2f2;
  padding: 8px 12px;
  border-radius: 8px;
  margin-bottom: 8px;
  font-size: 15px;
}

.loading {
  font-style: italic;
  color: #000000;
}

.info-subtext {
  margin-top: 16px;
  font-size: 13px;
  color: #000000;
  display: flex;
  align-items: center;
  gap: 6px;
}

.refresh-icon {
  font-size: 14px;
}

.google-search {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 80px;
    padding: 20px;
    gap: 8px;
}

.search-input {
  padding: 10px 12px;
  border: 1px solid #ccc;
  width: 80%;
  max-width: 400px;
}

.search-btn {
  padding: 10px 14px;
  background-color: #000000;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.timer-card {
  background: #fff;
  padding: 15px;
  text-align: center;
}

.timer-card h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.timer-card .buttons button {
  margin: 5px;
  margin-top: 10px;
  color: white;
  padding: 6px 12px;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #000000;
}

.timer-card .buttons .start.active {
  background: #007BFF;
}

.timer-card .buttons .stop.active {
  background:#007BFF;
}

.timer-card .buttons .reset.active {
  background: black;
}

